Screen {
    align: center middle;
}

.title {
    text-style: bold;
    margin: 1 0;
}

.button-group {
    width: auto;
    height: auto;
    margin-top: 1;
}

.button-group Button {
    margin: 0 1;
}

OptionList {
    width: 50%;
}

ListView {
    height: auto;
}

ListItem {
    padding: 1 2;
}

#card_grid {
    grid-size: 3 1;
}

#card_meaning {
    column-span: 2;
}