Screen {
    align: center middle;
}

.title {
    text-style: bold;
    margin: 1 0;
}

.button-group {
    width: auto;
    height: auto;
    margin-top: 1;
}

.button-group Button {
    margin: 0 1;
}

OptionList {
    width: 50%;
}

#cards_list {
    height: 1fr;
    min-height: 10;
    border: solid $primary;
}

.card-grid {
    grid-size: 4 1;
    height: auto;
    width: 100%;
    margin: 0 0 1 0;
}

.card-data {
    width: 100%;
}

.card-meaning {
    column-span: 3;
}